@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
.btn a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  padding: 2%;
  border: 1px solid white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn a:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  color: #ddd9d9;
  border-radius: 10px;
  border: 1px solid #b1aeae;
  -webkit-box-shadow: 1px -5px 28px 20px rgba(183, 183, 185, 0.6) inset;
          box-shadow: 1px -5px 28px 20px rgba(183, 183, 185, 0.6) inset;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-w a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  display: inline-block;
  padding: 2%;
  border: 1px solid #000;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn-w a:hover {
  opacity: 0.8;
  -webkit-transition: 0.9s, linear;
  transition: 0.9s, linear;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  color: #110f0f;
  border-radius: 10px;
  border: 1px solid #b1aeae;
  -webkit-box-shadow: 1px -5px 28px 20px rgba(15, 15, 15, 0.6) inset;
          box-shadow: 1px -5px 28px 20px rgba(15, 15, 15, 0.6) inset;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Noto Serif;
}

ul, li, a, h1, h2, h3, p, img {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 10px;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.mainscreen {
  position: relative;
  height: 100vh;
  width: 100%;
}

.mainscreen__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mainscreen__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: mainbg 30s linear infinite;
          animation: mainbg 30s linear infinite;
}

@-webkit-keyframes mainbg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.17);
            transform: scale(1.17);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mainbg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.17);
            transform: scale(1.17);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.mainscreen__content {
  padding-top: 25px;
  text-align: center;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.mainscreen__header {
  max-width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav__link {
  margin-right: 40px;
}

.nav__link:last-child {
  margin: 0;
}

.nav__link a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.nav__link a::after {
  background-color: #fff;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.nav__link a:hover::after, .nav__link a:focus::after {
  width: 100%;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
}

.header__logo:after {
  position: absolute;
  top: -18%;
  left: -5%;
  content: '';
  width: 110%;
  height: 120%;
  border-radius: 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.header__logo:hover::after {
  opacity: 0.1;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  border: 1px solid #4d4b4b;
  -webkit-box-shadow: 1px -5px 28px 20px rgba(255, 255, 255, 0.171) inset, 0px 0px 3px 4px #524e4e;
          box-shadow: 1px -5px 28px 20px rgba(255, 255, 255, 0.171) inset, 0px 0px 3px 4px #524e4e;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__search a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: #FFFFFF;
  position: relative;
}

.header__search a::after {
  background-color: #fff;
  display: block;
  content: "";
  position: absolute;
  left: 100%;
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__search a:hover::after, .header__search a:focus::after {
  width: 100%;
}

.search__search {
  position: relative;
  margin-right: 40px;
}

.search__search::before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: -30px;
  background: url(../img/firtpage/search.png);
}

.search__reg {
  margin-right: 90px;
  padding-right: 60px;
  background: url(../img/firtpage/account.png) 150px 0px no-repeat;
}

.mainscreen__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainscreen__title {
  margin-bottom: 50px;
}

.mainscreen__title h1 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}

.mainscreen___button {
  margin-bottom: 80px;
}

.mainscreen__footer {
  padding-top: 15px;
  padding-bottom: 35px;
  width: 100%;
  position: relative;
}

.mainscreen__footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1000px;
  height: 1px;
  width: 4000px;
  background-color: white;
}

.mainscreen__footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.mainscreen__footer__row__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.mainscreen__footer__row__item {
  padding: 10px;
  max-width: 100%;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.mainscreen__footer__row__item img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.mainscreen__footer__row__item:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 3px 5px rgba(78, 78, 78, 0.6), 1px -5px 15px 18px rgba(81, 81, 83, 0.6) inset;
          box-shadow: 0px 0px 3px 5px rgba(78, 78, 78, 0.6), 1px -5px 15px 18px rgba(81, 81, 83, 0.6) inset;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .search__reg {
    margin-right: 20px;
    padding-right: 10px;
    background: none;
  }
  .search__search {
    margin-right: 20px;
  }
  .sNetwork {
    margin-bottom: 100px;
  }
}

@media (max-width: 970px) {
  .container {
    width: 95%;
  }
  .nav__link {
    margin-right: 10px;
  }
  .search__search, .search__reg {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search__search::before {
    display: none;
  }
  .header__nav, .header__logo {
    margin-bottom: 20px;
  }
  .header__search {
    margin-bottom: 30px;
  }
  .sNetwork {
    margin-bottom: 50px;
  }
}

.beauty {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #eee8e8;
}

.beauty__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 15px;
}

.beauty__title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}

.beauty__filter {
  margin-bottom: 60px;
}

.beauty__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.beauty__item__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14.86%;
          flex: 0 1 14.86%;
}

.beauty__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid transparent;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: transparent;
  width: 165px;
  height: 61px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.beauty__item:hover {
  background-color: #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #eee;
}

.beauty__item:hover .beauty__item-text, .beauty__item:hover .beauty__item-bg {
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.beauty__item-text {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 96%;
  height: 89%;
  top: 0;
  left: 0;
  border: 1px solid #333333;
  color: #333333;
  z-index: 4;
  background-color: #F9F9F9;
}

.beauty__item-bg {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 96%;
  height: 89%;
  bottom: 0;
  right: 0;
  border: 1px solid #333333;
  color: transparent;
  z-index: 3;
}

@media (max-width: 1100px) {
  .beauty__item {
    width: 120px;
    height: 45px;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .beauty__item {
    width: 80px;
    height: 30px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .beauty__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.beauty__photo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.beauty__photo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.beauty__photo__item {
  margin-bottom: 30px;
}

.juwitem {
  position: relative;
  cursor: pointer;
}

.juwitem:hover {
  overflow: hidden;
}

.juwitem:hover img {
  -webkit-transform: scaleX(-1) scale(1.1);
          transform: scaleX(-1) scale(1.1);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.juwitem p {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.juwitem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (max-width: 768px) {
  .beauty__photo__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .beauty__title {
    font-size: 24px;
  }
  .beauty {
    padding: 20px 0;
  }
}

@media (max-width: 1100px) {
  .beauty__photo__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.moskov {
  background: url(../img/bgMoskov.png);
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px 0;
}

.moskov__subtitle {
  margin-bottom: 15px;
}

.moskov__title {
  margin-bottom: 45px;
}

.moskov__text {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 730px;
}

.blog {
  padding: 120px 0;
}

.blog__subtitle p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}

.blog__title h3 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__items p {
  font-family: Gilroy;
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
}

.blog__btn {
  text-align: center;
}

.blog__btn a {
  background-color: #333333;
}

@media (max-width: 1200px) {
  .blog__items {
    max-width: 250px;
  }
  .blog__items img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .blog__items p {
    font-size: 18px;
  }
  .moskov {
    padding: 90px 0;
  }
  .blog {
    padding: 80px 0;
  }
}

@media (max-width: 800px) {
  .blog__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .blog__items {
    margin: 10px;
  }
  .moskov {
    padding: 60px 0;
  }
  .blog {
    padding: 50px 0;
  }
}

@media (max-width: 550px) {
  .blog__items {
    min-width: 350px;
    margin: 5px auto;
  }
  .blog__items img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .moskov {
    padding: 20px 0;
  }
  .blog {
    padding: 20px 0;
  }
}

@media (max-width: 440px) {
  .blog__items {
    min-width: auto;
    max-width: 250px;
  }
  .blog__items img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.sNetwork {
  margin-bottom: 150px;
}

.sNetwork__subtitel {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
  color: #333333;
}

.sNetwork__title h3 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

.sNetwork__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sNetwork__big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  overflow: hidden;
}

.sNetwork__video {
  width: 100%;
  min-height: 300px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.sNetwork__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sNetwork__video video, .sNetwork__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sNetwork__small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  overflow: hidden;
}

.sNetwork__img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sNetwork__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sNetwork__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mailing {
  background: url(../img/mailingbg.png) 0 0/cover no-repeat;
}

.mailing__wrapper {
  padding-top: 100px;
  padding-bottom: 120px;
}

.mailing__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.mailing__title h3 {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}

.mailing__row {
  margin: 0 auto;
  max-width: 775px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailing__list li {
  position: relative;
  padding-left: 30px;
}

.mailing__list li::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 17px;
  height: 17px;
  background: url(../img/mailicon.png) no-repeat;
}

.mailing__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.mailing__block {
  height: 100%;
  width: 450px;
  border: 1px solid #fff;
  padding: 14px 15px;
}

.mailing__block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 100%;
  background-color: #fff;
  padding: 20px 22px;
}

button {
  cursor: pointer;
  padding: 14.5px 35px;
  background: #333333;
  border: 1px solid #FFFFFF;
  width: 159px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

button:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer {
  padding-top: 80px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.footer__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding-right: 7px;
}

.footer__title {
  padding: 10px 0;
  border-bottom: 1px solid #333333;
}

.footer__title p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.footer__image img {
  margin-right: 30px;
}

.footer__info {
  padding-top: 30px;
}

.footer__info p {
  padding-bottom: 21px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__link:hover {
  opacity: 0.5;
  text-decoration: underline;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__img {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__img img:hover {
  opacity: 0.7;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__tel {
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.footer__tel::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../img/footer/old-phone.png) 0px 3px no-repeat;
  cursor: pointer;
}

.footer__tel a {
  padding-left: 40px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__tel:hover {
  display: inline-block;
  opacity: 0.5;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__mail {
  border-bottom: 1px solid transparent;
}

.footer__mail a {
  padding-left: 40px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__mail::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../img/footer/mail.png) 0px 4px no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__mail:hover {
  display: inline-block;
  opacity: 0.5;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer__items-link a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.footer__items-link a:hover {
  opacity: 0.5;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.niz {
  text-align: center;
  padding: 20px 0;
}

.niz span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 900px) {
  .mailing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mailing__list {
    margin-bottom: 20px;
  }
  .mailing__wrapper {
    padding-top: 20px;
  }
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .niz {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (max-width: 530px) {
  .mailing__block {
    max-width: 380px;
  }
  .mailing__block__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .mailing__form__mail {
    margin-bottom: 20px;
  }
  .sNetwork {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .mailing__block {
    max-width: 280px;
  }
  .mailing__block {
    padding: 10px 11px;
  }
}

@media (max-width: 320px) {
  .container {
    padding-left: 8px;
  }
}

@media (max-width: 700px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__items {
    width: 100%;
    text-align: center;
  }
  .footer__img {
    width: 70%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sNetwork {
    margin-bottom: 50px;
  }
  .sNetwork__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sNetwork__big {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .sNetwork__video {
    margin-bottom: 5px;
  }
  .mailing__wrapper {
    padding-bottom: 30px;
  }
  .footer {
    padding-top: 25px;
  }
}
/*# sourceMappingURL=style.css.map */